body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100vw;
  min-height: 520px;
}

.calendar-zone {
  width: 900px;
  height: 1200px;
  border: 2px solid black;
  position: relative;
  margin: 20px auto;
  background-color: white;
}

.week-grid {
  display: flex;
  height: 100%;
}

.time-column {
  width: 50px;
  display: flex;
  flex-direction: column;
}

.time-slot {
  height: 50px;
  font-size: 12px;
  border-bottom: 1px solid black;
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-grow: 1;
}

.day-column {
  position: relative;
  border-left: 1px solid black;
}

.day-column::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 49px,
    black 50px
  );
}

.day-column::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 24px,
    rgba(0,0,0,0.3) 25px
  );
}

.day-labels {
  display: grid;
  grid-template-columns: 50px repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
}

.time-slots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center; 
}

.time-slots span {
  font-size: 0.8em;
  white-space: nowrap; 
}

.tasks-zone {
  width: 170px;
  height: 250px;
  background-color: lightgray;
  border: 2px solid black;
  padding: 20px;
  position: absolute; 
  right: 10px; 
  top: 10px;
}

.backlog-zone {
  width: 170px;
  height: 250px;
  background-color: lightgray;
  border: 2px solid black;
  padding: 20px;
  position: absolute; 
  right: 10px; 
  top: 300px;
}

#task-list li {
  margin-bottom: 10px;
  list-style-type: disc;
}
  
.hidden-form {
  display: none;
}

.box-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item-box {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 1px;
  margin-bottom: 10px;
  border-radius: 5px;
  left: 15%;
  width: 80%;
  box-sizing: border-box;
}

.task-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  align-items: flex-start;
}